## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#### meta start
#### project Whonix
#### category firewall and usability
#### description
## desktop entry
## firewall examples
#### meta end

[Desktop Entry]
Type=Application
Exec=/usr/lib/whonix-firewall/firewall30default
Name=Global Firewall Settings
GenericName=Whonix Default Firewall Settings
Comment=Open Whonix Default Firewall from /etc/whonix_firewall.d/ folder in editor
Categories=System
Icon=/usr/share/icons/anon-icon-pack/firewall.png
Keywords=system;Whonix;firewall
