## Copyright (C) 2012 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

#### meta start
#### project Whonix
#### category firewall and usability
#### description
## desktop entry
## reload firewall
#### meta end

[Desktop Entry]
Type=Application
Exec=/usr/lib/helper-scripts/terminal-wrapper /usr/lib/whonix-firewall/reloadfirewall
Name=Reload Firewall
GenericName=Reload Whonix Firewall
Comment=Reload Whonix Firewall using "sudo /usr/bin/whonix_firewall"
Categories=System
Icon=/usr/share/icons/anon-icon-pack/quick_restart.ico
Keywords=system;Whonix;firewall
