## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

## Restarts whonix-firewall when /var/run/sdwdate/first_success status file was
## created, i.e. when sdwdate succeeded so Whonix firewall will move from
## timesync-fail-closed mode to full mode.

[Unit]
Description=Whonix firewall sdwdate watcher

ConditionPathExists=!/var/run/qubes/this-is-templatevm

After=whonix-firewall.service
After=sdwdate.service

[Service]
Type=simple

SuccessExitStatus=143
KillMode=control-group

ExecStart=/usr/lib/anon-shared-helper-scripts/firewall-restarter

[Install]
WantedBy=multi-user.target
