## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: whonix-gw-firewall
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime, genmkfile, ruby-ronn (>= 0.7.3)
Homepage: https://github.com/Whonix/whonix-gw-firewall
Vcs-Browser: https://github.com/Whonix/whonix-gw-firewall
Vcs-Git: https://github.com/Whonix/whonix-gw-firewall.git
Standards-Version: 3.9.4

Package: whonix-gw-firewall
Architecture: all
## ifupdown, netbase are dependencies of whonix-gw-network-conf, that cannot
## be added to whonix-gw-network-conf due to conflicts with chroot.
Depends: iptables, sudo, whonix-gw-network-conf, ifupdown, netbase,
 ${misc:Depends}
Conflicts: ufw
Description: Whonix-Gateway's Firewall
 iptables rules script and firewall configuration file for Whonix-Gateway.
 .
 Features:
  - transparent proxying
  - stream isolation
  - reject invalid packages
  - fail closed mechanism
  - optional VPN-Firewall
  - optional isolating proxy
  - optional incoming flash proxy
  - optional Tor relay
 .
 Do not remove, unless you no longer wish to use Whonix.
